<!DOCTYPE html>
<html>
<head>
    <title>smart home</title>
</head>
<body>
<h1>Smart Home Dashboard</h1>
{% for room_name, reps in reports %}
<h3>room: {{ room_name }} <a href="/remove_room?room_name={{ room_name }}">remove</a></h3>
    {% for device_id, report in reps %}
    <p>{{ report }} <a href="/switch_status?room_name={{ room_name }}&device_id={{ device_id }}">switch_status</a> <a href="/remove_device?room_name={{ room_name }}&device_id={{ device_id }}">remove</a></p>
    {% endfor %}
    
    <form action="/add_device" method="post">
        new device: <input type="hidden" name="room_name" value="{{ room_name }}"></input>
        <input type="text" name="device_id" placeholder="device_id"></input>
        <select name="device_type">
            <optgroup label="device_type">
                {% for device_type in device_types %}
                <option value="{{ device_type }}">{{ device_type }}</option>
                {% endfor %}
            </optgroup>
          </select>
        <input type="submit" value="add new device"></input>
    </form>
{% endfor %}

<form action="/add_room" method="post">
    <h3>new room:</h3> <input type="text" name="room_name" placeholder="room_name"></input>
    <input type="submit" value="add new room"></input>
</form>
</body>
</html>